/*
 * Daily Editor Theme
 *
 * author: @narutooturan
 */

*:focus {
  outline: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.container {
  margin: 100px auto 100px auto;
  width: 70%;
}

.title {
  display: block;
  width: 65%;
  margin: auto;
  border: 0;
  font-size: 36px;
  line-height: 45px;
  height: 45px;
  color: #000;
  background-color: rgba(255,255,255,0);
}

.darken-title {
  display: block;
  width: 65%;
  margin: auto;
  border: 0;
  font-size: 36px;
  line-height: 36px;
  height: 36px;
  padding-top: 132px;
  padding-bottom: 232px;
  background-color: rgba(255,255,255,0);
  color: #fff;
}

.editable {
  margin: auto;
  margin-top: 25px;
  width: 65%;
  min-height: 30px;
  line-height: 1;
}

/** font style **/
.darken h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 36px;
  height: 400px;
  line-height: 300px;
  font-weight: bold;
  text-align: left;
  color: rgba(255,255,255,1);
}

.darken h4 {
  font-size: 30px;
  color: #111;
}

.darken blockquote {
  color: #111;
}

.darken p {
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  color: #333;
}

.darken a {
  color: #555;
}

h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: left;
  color: rgba(0,0,0,0.8);
}

h4 {
  font-size: 30px;
  color: #111;
}

blockquote {
  color: #111;
}

p {
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  color: #333;
}

a {
  color: #555;
}

/** button **/
.btn {
  position: absolute;
  top: 100px;
  left: 15%; 
}

.btn-moveDown {
  position: absolute;
  top: 522px!important;
  left: 15%; 
}

.btn-img {
  position: relative;
  color: #ddd;
  width: 23px;
  left: -26px;
  top: -5px;
  opacity: 0;
}

.btn-img-fake {
  position: relative;
  color: #ddd;
  width: 20px;
}

.btn-delete {
  position: relative;
  top: 30px;
  left: -52px;
  color: #ddd;
}

/** background **/
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 500px;
  line-height: 500px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: #000000;
  z-index: -1;
}

/** show/hide div **/
.show {
  display: block;
}

.hide {
  display: none;
}
